[2016-12-28 14:57] davidrapin opened #1 "Make a documentation site generator"
- [x] get rid of gitbook
- [x] create a repository to store the doc
- [x] store the menu/structure of the doc in a JSON "tree" file
 - each entry has a title and ((children) and/or (a link to a markdown file in the repo))
- [x] the markdown files can have variables:
 - last version of LKE
 - placeholders for pieces of documentation generated in lk-server code
- [x] create a custom documentation bl

[2016-12-28 14:58] davidrapin opened #2 "Linkurious admin doc"
content:

- Getting started
  - [Technical requirements](https://doc.linkurio.us/content/en/getting-started/requirements.html)
  - [Download](https://doc.linkurio.us/content/en/getting-started/download.html)
  - [Install](https://doc.linkurio.us/content/en/getting-started/install.html)

- Start/Stop
  - [Start](https://doc.linkurio.us/content/en/getting-started/start.html)
  - [Stop](https://doc.l

[2017-01-16 19:28] sheymann opened #3 "Add Previous/Next page buttons at the end of site pages"
The user doc is a tutorial. User should be able to go to previous or next page simply.

[2017-01-16 19:33] sheymann opened #4 "Add navigation header"
@davidrapin what menu items do we want?

[2017-01-16 19:34] sheymann opened #5 "Add version switch"
Replace the version number by a selector to switch doc version.

[2017-01-16 19:42] sheymann opened #6 "Bad JSON in admin examples"
JSON given in example are not well-formed, e.g. "Geographic tiles" in the admin doc.

![image](https://cloud.githubusercontent.com/assets/177962/21996813/48b81b7a-dc2c-11e6-8815-16bf474147e4.png)

[2017-01-17 10:57] davidrapin commented on #4
for main menu:
- [ ] link to main linkurious website
- [ ] title of current doc
- [ ] link to all docs (page with links to `user doc`, `admin doc`, `ogma doc` and `server sdk doc`)
- [ ] maybe a menu to jump directly to one of our other docs

[2017-01-17 15:33] davidrapin commented on #6
done

[2017-01-17 15:46] davidrapin commented on #5
We would need to add an API to the doc server for this and make a request from each doc page.

Much simpler would be a "see older versions" link to a page with generated list.

[2017-01-17 15:46] davidrapin commented on #3
Will do.

[2017-01-17 16:39] davidrapin commented on #3
Done.

Use `{{entry.previous}}` and `{{entry.next}}` in markdown or html templates.

The text of the links can be configured in the JSON file with keys `"previousLink"` and `"nextLink"` . Defaults are "Previous" and "Next".

[2017-01-17 16:40] davidrapin commented on #5
Typo, the commit actually fixes #3, this is still problematic.

[2017-01-18 14:10] sheymann commented on #3
Error:

Variable reference "entry.previous" could not be resolved in "C:\Users\Seb\Documents\GitHub\documentation\content\user\content\main.md".

[2017-01-18 15:40] davidrapin commented on #3
pull and check your version fo dokapi, package.json in documentation should use dokapi@1.0.15

[2017-01-18 16:19] sheymann commented on #3
It works.

[2017-01-18 16:19] #3 closed

[2017-01-19 16:53] sheymann opened #7 "Menu: replace "Home" with "Introduction""
"Home" is meant for the root of the website, which is linkurio.us/

[2017-01-19 17:33] sheymann commented on #4
@davidrapin need review on user doc site https://github.com/Linkurious/documentation/commit/36bb56827a52810a70f868b399b069e6f2e58edc

[2017-01-20 13:47] davidrapin commented on #7
fixed

[2017-01-20 13:47] #7 closed

[2017-01-20 13:54] davidrapin commented on #4
my feedback:
- css is great, very readable
- missing a hover effect for prev/next buttons
- menu to access other docs should be on the right of the navigation, not mixed with the site title. I would like a "select" menu with:
  - "see other versions" -> page with list of available versions of this doc
  - "admin doc"
  - "server sdk"
  -  "client sdk/ogma"

[2017-01-20 13:55] davidrapin commented on #4
also, a link to linkurio.us wouldn't hurt

[2017-01-20 13:55] #1 closed

[2017-01-20 13:55] davidrapin commented on #1
see Linkurious/dokapi

[2017-01-20 13:56] davidrapin commented on #2
admin doc migrated

[2017-01-20 13:57] #2 closed

[2017-01-24 19:11] sheymann commented on #6
Please scan all examples as there are other issues e.g.

![image](https://cloud.githubusercontent.com/assets/177962/22262452/34a4ec80-e271-11e6-8742-0b2d69b75156.png)

[2017-01-24 19:21] sheymann commented on #4
@davidrapin done, need review

[2017-02-07 19:25] davidrapin commented on #6
fixed for now

[2017-02-07 19:25] #6 closed

[2017-02-07 19:26] davidrapin opened #10 "Documentation search"
elise:

[2017-02-07 19:27] davidrapin commented on #10
We will add a search field in each doc using google custom search

[2017-02-07 19:28] #4 closed

[2017-02-07 19:28] #5 closed

[2017-02-07 19:29] davidrapin opened #11 "PDF generation"
see https://github.com/Linkurious/dokapi/issues/3

Currently we could generate them manually from the single-page doc versions (using Google Chrome only, all other generators break anchor links)

[2017-03-02 18:30] sheymann opened #12 "Add Google Analytics tracker"
We need to measure how the doc is used.

[code]

[2017-03-02 18:30] sheymann commented on #12
@francescoinfante can you do it soon plz?

[2017-03-02 23:33] davidrapin commented on #12
Needs to be added independently in:
- Ogma doc
- user manual
- admin manual
- API doc
- API examples
- doc home

David Rapin
CTO & Cofounder
http://linkurio.us

[2017-03-03 13:13] francescoinfante commented on #12
@sheymann added in any page of the documentation

[2017-03-03 13:13] #12 closed

[2017-03-03 13:39] davidrapin commented on #12
done for Ogma and APIDoc itself?

[2017-03-03 13:48] francescoinfante commented on #12
done also for ogma and apidoc

[2017-03-06 08:43] sheymann opened #13 "How to deploy on AWS/Azure"
Need step-by-step tutorial on how to deploy on major cloud platforms.

refs https://secure.helpscout.net/conversation/245263566/371/?folderId=490086

Notice that http://doc.linkurio.us/content/en/others/elasticsearch_on_aws.html is how to use ES on AWS. We need a dummy guide from "here is your AWS account" to "LK is up and running".

[2017-03-08 09:20] davidrapin opened #14 "API examples bug"
source: https://secure.helpscout.net/conversation/323167977/724/

Side note: we need better error messages in case of error the current message give zero useful information.

[2017-03-09 15:28] francescoinfante commented on #14
Ok I will modify request.js for browser such that any error message passed to the callback is automatically printed.

[2017-03-30 13:51] davidrapin opened #15 "Replace "styles" by "defaultStyles""

[2017-03-30 15:46] davidrapin commented on #10
we can use Algolia's free plan: https://www.algolia.com/pricing

[2017-04-03 11:48] francescoinfante opened #16 "[admin manual] Explain how to prevent the access of users in AzureAD (and others identity providers?)"
From an answer to a client:

[...]
It’s not necessary to import all the Azure AD users into Linkurious. Indeed, it’s possible to restrict the access to an application (like Linkurious) associated with Azure following this tutorial:
https://docs.microsoft.com/en-us/azure/active-directory/active-directory-accessmanagement-group-saasapps
From within Azure itself you will be capable to assign which us

[2017-04-04 07:45] davidrapin commented on #16
partially false, you can set `access.externalUserDefaultGroupId` to external users with no group mapping in a group that have access to nothing.

[2017-04-04 08:08] francescoinfante commented on #16
access to nothing !== prevent access, but yes. Also can we prevent access to every node? also node with no categories?

[2017-04-04 12:06] davidrapin commented on #16
Good point, we could make a special right to edit nodes with no category.
Also, since we are redesigning access-rights, new types of groups and rights can be created.

[2017-04-05 12:17] francescoinfante opened #17 "Talk about Neo4j consistency tool"
https://neo4j.com/developer/kb/how-do-i-run-consistency-check-manually/

If the data fails to index in ES -> data may be corrupted

[2017-04-06 09:33] davidrapin opened #18 "[admin manual] document setting up a reverse proxy (nginx or apache)"
apache:
[code]

[2017-04-06 13:14] davidrapin opened #19 "[admin manual] improve "install java" part"
- ubuntu: `sudo apt install default-jdk`
- gentoo `sudo emerge --ask virtual/jre` 
- centos: `sudo yum install java-1.7.0-openjdk`

 etc.

[2017-04-06 13:16] davidrapin opened #20 "[admin manual] Update for v1.8.0"
- [x] DSE auth / ssl (clear about wss)
- [x] new process manager
- [x] `styles`  -> `defaultStyles` (config) #15
- [x] self-signed CA
- [x] MSSQL 
- [ ] LDAP without admin account
- [ ] allSources -> advanced (config)

[2017-04-06 13:21] francescoinfante opened #21 "SDK examples UI fix for IE11"
It was report that in Internet Explorer (Version 11.0.9600.18617) SDK examples don't work:
![image002](https://cloud.githubusercontent.com/assets/2310265/24756049/b5b23b5e-1adc-11e7-8b0e-846d1d615425.jpg)

https://secure.helpscout.net/conversation/345032823/933/?folderId=1003309

[2017-04-06 14:04] francescoinfante commented on #14
Happened again, point 2 of https://secure.helpscout.net/conversation/345032823/933/?folderId=1003309

[2017-04-07 08:54] francescoinfante commented on #15
done

[2017-04-07 08:55] francescoinfante commented on #14
Anyway, the bug happened because the machine was behind a firewall, still investigating what was blocked

[2017-04-07 09:09] francescoinfante opened #22 "[admin manual] improve geo tiles documentation by being clear about format used"
We don't know if we use XYZ format or TMS format, we don't say anything in the doc.

https://secure.helpscout.net/conversation/346070715/948/?folderId=490091

A client thinks we use TMS, but apparently we use XYZ and they are not compatible (Y axis is inverted)

[2017-04-07 12:27] davidrapin commented on #22
resources:
- http://wiki.openstreetmap.org/wiki/Slippy_map_tilenames
- https://en.wikipedia.org/wiki/Tiled_web_map

[2017-04-07 13:21] davidrapin commented on #15
is not fixed

[2017-04-07 13:22] francescoinfante commented on #15
https://github.com/Linkurious/documentation/commit/7fc022ed2500461e60c7640260575623ca1c79be

[2017-04-07 13:26] francescoinfante commented on #15
done now

[2017-04-07 13:26] #15 closed

[2017-04-07 16:56] davidrapin commented on #20
done

[2017-04-10 11:14] francescoinfante commented on #20
- [ ] modify ldap

[2017-04-10 16:08] francescoinfante commented on #20
updated LDAP doc

[2017-04-10 16:08] #20 closed

[2017-04-10 16:10] francescoinfante commented on #20
LDAP: https://github.com/Linkurious/documentation/commit/f5556ad48eb3ea029ee1e40f2aeddc974e35786f

allsources -> advanced: https://github.com/Linkurious/documentation/commit/cc193b4672e1818374db012e3a53e47eeece6d77

[2017-04-13 17:02] davidrapin opened #24 "Prevent repository content from being indexed"
When searching for "install linkurious" on Google, pages from the repo show up (https://github.com/Linkurious/linkurious-enterprise-manual/blob/master/en/getting-started/install.md).

This can be prevented:
- [x] move code to another branch  (e.g. develop) since github only allows the master branch to be indexed

source: http://stackoverflow.com/questions/15844905/how-to-stop-google-indexing-my-gi

[2017-04-14 16:39] davidrapin commented on #24
done for:
- https://github.com/Linkurious/documentation
- https://github.com/Linkurious/linkurious-enterprise-manual
- https://github.com/Linkurious/PyLinkurious

[2017-04-14 16:39] #24 closed

[2017-05-04 16:07] davidrapin opened #25 "[admin manual] clarify where to put SSL certificate files"

[2017-07-24 10:59] francescoinfante opened #26 "[server sdk] Improve publish a widget"
Currently the example at https://doc.linkurio.us/server-sdk/latest/publish-a-widget/
creates widgets that are without labels:
http://crunchbase.linkurio.us/widget/0bf886fd

@jvilledieu

[2017-07-24 11:00] francescoinfante opened #27 "[admin manual] Improve ADFS doc"
Improve ADFS documentation on how to configure Linkurious as service provider.

[2017-07-24 11:03] francescoinfante opened #28 "[admin manual] geotiles server on premises"
Document this https://secure.helpscout.net/conversation/399924347/1233/?folderId=1003309

[2017-07-24 11:26] davidrapin commented on #26
In the viz creation code, add this to the viz body:
[code]

[2017-07-24 15:20] #26 closed

[2017-07-27 18:27] davidrapin opened #29 "[admin manual] Add entry to customize node/edge size"
https://doc.linkurio.us/admin-manual/latest/default-styles/ shows how to set colors and icons, but size is missing.

[code]

[2017-09-08 11:20] meaningfool opened #30 "[admin manual] Remove Solr logo from manual"
On all versions of the manual, there is an image of the architecture that show a Solr logo :
https://doc.linkurio.us/admin-manual/1.8.4/

We need to remove it

[2017-09-08 11:40] davidrapin commented on #30
@maxime-allex could you remove the solr logo from SVG file?

[2018-01-18 14:11] davidrapin commented on #30
fixed

[2018-01-18 14:11] #30 closed

[2018-03-19 15:26] francescoinfante opened #41 "[server sdk] all examples are broken after demo database reload"

[2018-04-18 16:02] #16 closed

[2018-04-23 11:51] francescoinfante commented on #41
solved

[2018-04-23 11:51] #41 closed

[2018-05-22 21:51] mominabrar commented on #13
Hi is there any update on this?

[2018-05-22 21:51] PkSM3 commented on #13
-- Please reply above this line --

Hello Linkurious/documentation,

Thanks for your request! We monitor email support from 9am to 6pm
Paris Time (CET), Monday - Friday. We'll get back to you within 2
business days.

Best,

[2018-05-23 08:39] davidrapin commented on #13
Hi @mominabrar,
If you need assistance with something that is missing from our documentation, please get in touch with us via email at `support@linkurio.us`.

[2018-06-13 15:15] elisedeux opened #43 "[Homepage and Server SDK] Change wording"
Change the wording on the documentation [homepage](https://doc.linkurio.us/):

- In the user manual tile, add "Enterprise" after "Learn how to use Linkurious."
- In the administration manual tile, add "Enterprise" after "Learn how to setup and configure Linkurious."
- In the SDK doc tile, replace "Server SDK documentation" by "REST API documentation"

In the Server SDK doc, replace "Server SDK of

[2018-06-13 17:04] davidrapin commented on #43
Also fixed in:
- Ogma: https://github.com/Linkurious/ogma/commit/c96e634b9285a4db01183010637b29a82fa64908
- APIDoc template: https://github.com/Linkurious/apidoc/commit/ae99960bab24798da820374555accb154782e360

[2018-06-25 12:05] francescoinfante commented on #43
Merged to preprod. Available for review here: https://dev.linkurio.us/doc

[2018-06-25 12:05] #43 closed

[2018-06-25 17:29] francescoinfante commented on #29
Documentation for default styles completely rewritten in 2.5.0

[2018-06-25 17:29] #29 closed

[2018-09-27 09:39] maxime-allex opened #47 "Add workspace shortcuts in doc"
In 2.6, the shortcuts modal disappear. The available shortcuts should be documented in a specific section.

<img width="1552" alt="capture d ecran 2018-09-27 a 11 34 55" src="https://user-images.githubusercontent.com/1384415/46137240-7ff58c80-c249-11e8-959e-6977bf7c2d97.png">
<img width="1552" alt="capture d ecran 2018-09-27 a 11 34 58" src="https://user-images.githubusercontent.com/1384415/461372

[2018-10-01 13:24] maxime-allex opened #48 "Add a page for custom node icons"
Explain how custom icons library work in https://doc.linkurio.us/user-manual/latest/default-styles/#custom-node-icons

[2018-10-03 08:37] davidrapin opened #49 "Describe available feature for each vendor"
For each graph database vendor page (e.g. https://doc.linkurio.us/admin-manual/latest/configure-neo4j/) add information about available features:
- graph search: yes
- visualization style customization: yes
- visualization filtering: yes
- graph edition: yes
- graph access-rights management: yes
- custom graph queries: yes/no
- custom graph query templates: yes/no
- graph alerts: yes/no

rfc @mean

[2018-10-03 18:17] davidrapin commented on #49
Alternatively, use a compiled table for easier comparison: e.g.
![screen shot 2018-10-03 at 20 16 25](https://user-images.githubusercontent.com/605880/46430476-535ddb00-c749-11e8-8c80-09b7d6e1282c.png)

[2018-10-24 09:34] meaningfool opened #50 "Guest mode query error"
In the following page : https://doc.linkurio.us/admin-manual/latest/guest-mode/#populating-the-guest-mode-workspace
The URL for "pattern query" contains an error : there are "+" in the URL. The correct URL is : http://atlas.linkurio.us:3000/guest?populate=pattern&pattern_dialect=cypher&pattern_query=MATCH%20(n1)-%5Be%5D-(n2)%20WHERE%20ID(n1)%3D1211%20RETURN%20e

[2018-10-26 16:16] francescoinfante commented on #50
solved

[2018-10-26 16:16] #50 closed

[2018-11-06 17:27] davidrapin opened #56 "Improve admin documentation for Neo2ES partial indexation"
Add a documentation page about how to index only some of the nodes/edges in the DB by filtering by node label, edge type, property value, etc.

Some references here: https://github.com/graphaware/neo4j-framework/tree/master/common#inclusion-policies

[2018-11-06 17:32] francescoinfante commented on #56
also tracked as a backend issue here:
https://github.com/Linkurious/linkurious-server/issues/1259

[2018-11-09 18:30] davidrapin commented on #49
@anabase we discussed this, let me know when you have time to put some time aside for this

[2018-11-09 18:55] davidrapin opened #57 "Add a graph vendor / search solutions summary page"
For each vendor, describe all possible fulltext search solutions with pros and cons.
Dimensions:
1. easy onboarding (easy to configure)
2. fast indexation
3. index stays synced automatically (no need to reindex when the graph db changes)
4. responsive search at scale
5. advanced search possible (e.g. search for number or date intervals)

### Neo4j
- embedded ES:
  - 1: plug and play
  - 2: no
  -

[2018-11-09 18:55] davidrapin commented on #57
cc @francescoinfante @anabase

[2018-11-14 10:07] francescoinfante opened #58 "Allow links across user documentation and admin documentation"
Today links across the two documentations are only possible via full URL.
This doesn't allow to reference dynamically the same version of the documentation (several links to the "latest" opposite documentation are in each documentation)

[2018-11-19 13:40] anabase commented on #49
@davidrapin What is graph edition?

[2018-11-19 14:57] davidrapin commented on #49
graph edition = create and edit nodes / edges.

[2018-11-20 14:41] anabase commented on #49
https://github.com/Linkurious/documentation/pull/59 awaiting review.

[2018-11-20 14:41] anabase commented on #56
https://github.com/Linkurious/documentation/pull/59 awaiting review.

[2018-11-27 15:19] elisedeux opened #61 "Change schema overview on 2.6 admin doc introduction page"
Replace existing schema in [2.6 admin manual](https://doc.linkurio.us/admin-manual/2.6.0/) by the one attached that includes Cosmos DB as supported DB
![arch_schema_3](https://user-images.githubusercontent.com/23723610/49091448-31239d80-f260-11e8-8f56-1bfb1e55bd0b.png)

[2018-11-28 11:40] davidrapin commented on #61
Please udpate the SVG file here, we'll generate the PNG from that:
https://github.com/Linkurious/documentation/blob/preprod/content/admin/arch_schema.svg

David Rapin
CTO & co-founder
http://linkurio.us

On Tue, Nov 27, 2018 at 4:20 PM elisedeux <notifications@github.com> wrote:

[2018-12-14 10:01] elisedeux commented on #61
Done

[2018-12-14 10:03] #61 closed

[2019-03-06 18:12] davidrapin opened #68 "Add an FAQ page"
sales faq: https://docs.google.com/document/d/1rfn77GwWwuKY7TaBij1yAACnudMeNpCRdBQnaqE-eMM/edit

[2019-03-18 09:59] maxime-allex opened #69 "Document that we can only show graph query that returns Nodes and Edges (not tabular data)"
https://secure.helpscout.net/conversation/804428736/5584?folderId=490089

LKE for now only accept queries that will return nodes and/or edges.

We should add this to the documentation, avoiding user to try to run other queries

[2019-03-25 14:05] elisedeux opened #70 "Add a noindex tag in older versions of the documentation"
Each version of the doc is currently behind indexed by Google, generating multiple URLs pointing toward the doc. This isn't good for SEO nor content optimization.

![Capture](https://user-images.githubusercontent.com/23723610/54925638-f6c8c500-4f0e-11e9-93c5-12e5c0079f5a.PNG)

We need to add [noindex tags](https://support.google.com/webmasters/answer/93710?hl=en) in the older versions of the doc s

[2019-03-25 19:06] davidrapin commented on #70
Maybe we should add a "noindex" meta tag in pages not served via the "latest" alias.
Not sure about the best strategy.
We could also generate a robots.txt dynamically.

All in all, that's work for squanchy-server.

[2019-03-26 10:27] francescoinfante commented on #70
This has been fixed in the squanchy server, I will check in 3 weeks if the problem is solved on google side.
https://github.com/Linkurious/squanchy-server/commit/e55abc345aefc037535dbccd810054ad6bf455ba

[2019-04-24 15:03] davidrapin opened #71 "[EPIC] Documentation for 2.8"

[2019-06-11 14:13] elisedeux commented on #70
I can not reproduce previous results. I think this fixed the problem @francescoinfante.

[2019-06-11 14:15] elisedeux opened #77 "[admin manual] update database list"
Starting from 2.7, we should remove mentions of Stardog, AllegroGraph and DSE Graph from the manual.

[2019-06-11 16:17] #70 closed

[2019-07-02 15:16] fantandrea opened #78 "[rest api manual] Broken example in Widgets: Publish a widget"
Current code is raising the following error "TypeError: expandNodeRes.body.map is not a function [...]"

Working fix:
1. replace "expandNodeRes.body.map" with "expandNodeRes.body.nodes.map"
2. remove "nodeFields" and "edgeFields" attributes

[2019-07-02 15:44] fantandrea commented on #78
Since the APIs on crunchbase server are done in https, also the generated URLs should be in https (on current configuration http requests are refused)

var widgetUrl = 'http://crunchbase.linkurio.us/widget/' + postWidgetRes.body;

Same issues on the three samples of the "Visualizations" section

[2019-07-03 07:31] fantandrea opened #79 "[rest api manual - sample] fuzziness in Search for nodes section"
Description of fuzziness behavior inverted respect the real working behavior.

Actual description "A fuzziness value of 1 means that the search results have to match exactly; instead, using fuzziness values going towards 0"
To invert 0 with 1.

[2019-07-16 08:58] fantandrea opened #81 "Docker installation instruction"
The installation instruction in docker environment are broken. Using the -v option to externally mount the volumes won't work since the system is not able to write on them the first time

[2019-07-18 13:32] thibaultlink opened #82 "Update documentation screenshots for 2.8"
Screenshots need to be updated, specifically because we changed the way the admin menu is structured.

[2019-07-23 16:39] fantandrea opened #83 "Security block on windows installation"
Starting from Windows7 a new security feature consists in marking as blocked all executables and compressed archive downloaded from internet. In most cases this will prevent applications to work properly. It has been proved that this is impacting LKE v2.6.8

Update the installation process considering this extra step
From UI: https://blogs.msdn.microsoft.com/delay/p/unblockingdownloadedfile/
From

[2019-07-23 16:41] fantandrea opened #84 "CSS override feature is missing"
Describe the process to have custom CSS on the LKE.

Create override.css file in ./server/customFiles/assets/css

[2019-07-23 17:01] fantandrea opened #85 "Add instructions to export into external DB"
Create and publish a script to sanitize the syntax based on this

Create import script:
[code]

Create cleanup script:
[code]

[2019-07-23 17:17] davidrapin commented on #85
@francescoinfante how did the script work for Safran?

[2019-07-23 17:19] francescoinfante commented on #85
@davidrapin I'm sorry, but I'm not aware of this.
@fantandrea can you update me?

[2019-07-23 17:23] davidrapin commented on #85
@fantandrea did this work with Safran?
Can you attach the SQlite export file that got migrated with this script? We might have other issues to fix (e.g. booleans stored a smallinteger, etc.)

We should compare the schema created by LKE directly on MariaDB by the schema created by the migrated script.

[2019-08-02 12:32] fantandrea opened #86 "Minimum requirements for Azure SSO"
Add the minimum API Requirements to Azure AD application.

The system works with only `Directory.Read.All`

[2019-08-02 15:41] fantandrea commented on #85
New version of the script attached to https://secure.helpscout.net/conversation/912785723/6880/ (dump-converter.sh)

It will truncate the content of all LKE tables and insert previous data. No changes to the database structure that has to be managed directly from LKE at the first startup before the script execution.

[2019-08-22 19:06] sheymann opened #89 "Reference "allegro.import" used in "\admin\content\importing\allegro.md" is never defined."
I run `npm run admin-site`, and get the error "Reference "allegro.import" used in "C:\Users\Seb\Documents\GitHub\documentation\content\admin\content\importing\allegro.md" is never defined." at step "Checking variables/references integrity"

What should I do? I've downloaded the sources of linkurious-server.

[2019-08-23 04:10] davidrapin commented on #89
you are probably in the wrong branch of server and doc.

On Thu 22 Aug 2019 at 13:06, Sébastien Heymann <notifications@github.com>
wrote:

--
David Rapin
CTO & co-founder
http://linkurio.us

[2019-08-23 07:12] sheymann commented on #89
I'm on `linkurious-server/master` and a branch created out of `documentation/preprod`

[2019-08-23 14:05] francescoinfante commented on #89
solved. we didn't merge `preprod-next` to `preprod` and `preprod` to `main` on release of 2.8.0).
Neverthless the good doc was released (when I released 2.8.0 I realized the mistake and pushed the right doc online).

On private chat said to seb how to continue.

closing here.

[2019-08-23 14:05] #89 closed

[2019-09-02 07:18] sheymann opened #93 "Automatic PNG compression for images"
## Problem

Screenshots are PNG. Unless I manually compress them they are large files.

E.g. this page has 3 images of 2.5MB https://doc.linkurio.us/user-manual/latest/guest/

It makes the doc slow to load.

## Proposal

https://tinypng.com/ is a lossless PNG compressor. It works well and is fast, but using it manually is tedious. We could add a script using their [node client](https://github.com/

[2019-09-02 13:46] davidrapin commented on #93
For now, the time required to dev this script correctly does not outbalance the couple of minutes needed to resize and compress images manually in the doc.

Nice to have, but not a priority right now.

[2019-09-06 08:58] francescoinfante commented on #78
validated

[2019-09-06 08:58] #78 closed

[2019-09-11 09:19] thibaultlink commented on #84
@fantandrea what's the status of this issue ? Is this something that needs to be written in documentation ?

[2019-09-11 09:21] thibaultlink commented on #83
This is not present in the documentation. @davidrapin it's not clear to me who's responsibility this is.

[2019-09-11 09:32] thibaultlink commented on #82
Not done. Here's the list of pages where a screenshot needs to be updated.
It's always a screenshot of the "admin" dropdown menu from the dashboard.

https://dev.linkurio.us/doc/admin-manual/latest/configure/
https://dev.linkurio.us/doc/admin-manual/latest/configure-sources/
https://dev.linkurio.us/doc/admin-manual/latest/alternative-ids/
https://dev.linkurio.us/doc/admin-manual/latest/search/
htt

[2019-09-11 09:36] thibaultlink opened #97 "API manual : "Search" section is present twice"
@francescoinfante not sure who's supposed to do this, please assign this to the correct person.

As title says, "Search" section is visible twice in the API manual on dev.linkurio.us/doc see screenshot :
![image.png](https://images.zenhubusercontent.com/5cc1b8ac4e45b82b54175429/70991ab2-5aa9-4194-9f14-9b542e2bac19)

[2019-09-11 09:40] thibaultlink commented on #79
done.

[2019-09-11 09:40] #79 closed

[2019-09-11 10:59] thibaultlink commented on #85
@fantandrea does this need to be in the doc ? If so when do you think you could do it ?

[2019-09-11 11:09] francescoinfante opened #98 "Document auto refresh group mapping"
We need to add how to enable auto refresh group mapping to the admin documentation.

[2019-09-11 11:57] davidrapin commented on #83
moving ahead, @fantandrea do you have a schedule to address this?

[2019-09-11 11:57] davidrapin commented on #84
moving ahead to 2.8.2, @fantandrea do you have a schedule to address this?

[2019-09-11 11:57] davidrapin commented on #85
@fantandrea what is the plan for this issue?

[2019-09-11 11:58] davidrapin commented on #82
@thibaultlink not a huge issue, moving forward

[2019-09-11 12:01] fantandrea commented on #84
Just before my holidays we discussed this point at the CSM weekly meeting. Seb said that we shouldn't document this part now since it would be one of the feature to be sell as extra package and we should get in touch with people using it right now.

[2019-09-11 13:10] fantandrea commented on #85
Last solution was to create two python scripts (I was able make a self contained package).
1. convert the mysql sql dump into a new one without the create table and making sure of the insert order
2. taking a sqlite file and a mysql sql connection compare the entire structure and data content (it is a migration validation script)

The steps worked for SAFRAN even if they required many steps. Would

[2019-09-11 13:18] fantandrea commented on #83
Not yet, I hope to be able to do it in the next couple of weeks (as well as Azure AD enhancement)

[2019-09-11 15:36] francescoinfante opened #99 "Document SSO return URL"
Today we document that "/auth/sso/return" is the url to configure in the IdP (to allow redirection to) for Saml2.

We should do the same for `AzureAD` and `OpenIdConnect`.
Note that for OpenIdConnect is not always required (sometimes host and port of Linkurious are enough).

[2019-09-11 16:09] davidrapin commented on #85
Yes, we could put the script on github with instruction and mention it in
the doc.

On Wed, Sep 11, 2019 at 3:10 PM fantandrea <notifications@github.com> wrote:

[2019-09-11 16:09] davidrapin commented on #84
ok, closing

[2019-09-11 16:09] #84 closed

[2019-09-16 07:47] fantandrea opened #100 "Design link to dev environment"
In the style section of production doc link (both [latest](https://doc.linkurio.us/admin-manual/latest/styles/) and [2.8.1](https://doc.linkurio.us/admin-manual/2.8.1/styles/)) the Design link points to the dev env.

![image](https://user-images.githubusercontent.com/12516532/64941411-eadb1180-d866-11e9-9677-63c20714ddf7.png)

[2019-09-16 08:49] fantandrea opened #101 "Add instructions for resetting to default style"
In the [Design](https://doc.linkurio.us/user-manual/latest/design/) section of user doc there is a note saying that the user can retest the visualization to default styles, however no instruction / print screens show that the user should click on the `gear` icon.

![image](https://user-images.githubusercontent.com/12516532/64944849-8ec8bb00-d86f-11e9-802b-0b7f8c9b72e1.png)

[2019-09-18 09:42] fantandrea opened #102 "Improve Azure Search configuration instruction"
Currently people are struggling when trying to setup an Azure Search instance to evaluate LKE with Cosmos DB.

You should review the instructions thinking to a more wider audience (e.g. Non super expert sys admins or people that are using Azure Search for the first time).

Some improvements:
* Explain the correlation between Azure Cosmos DB and Azure Search (no LKE involvement). It should be clear

[2019-09-18 11:28] francescoinfante commented on #68
Closing here, done

[2019-09-18 11:28] #68 closed

[2019-09-18 11:31] francescoinfante commented on #25
Done: https://doc.linkurio.us/admin-manual/latest/advanced-settings/#additional-certificate-authorities
https://doc.linkurio.us/admin-manual/latest/faq/#what-are-pem-certificates

[2019-09-18 11:31] #25 closed

[2019-09-18 11:31] francescoinfante commented on #28
In the faq:
https://doc.linkurio.us/admin-manual/latest/faq/#can-i-use-a-custom-tile-server-in-geo-spatial-mode

[2019-09-18 11:31] #28 closed

[2019-09-18 11:32] francescoinfante commented on #48
Done here:
https://doc.linkurio.us/admin-manual/latest/styles/#custom-node-icons

[2019-09-18 11:32] #48 closed

[2019-09-18 11:33] francescoinfante commented on #49
Done:
https://doc.linkurio.us/admin-manual/latest/feature-map/

[2019-09-18 11:33] #49 closed

[2019-09-18 11:34] francescoinfante commented on #56
Done:
https://doc.linkurio.us/admin-manual/latest/search-neo4j-to-elasticsearch/

[2019-09-18 11:34] #56 closed

[2019-09-18 11:34] francescoinfante commented on #77
done

[2019-09-18 11:34] #77 closed

[2019-09-18 11:36] francescoinfante commented on #81
They should be ok now @fantandrea
can you check?
https://doc.linkurio.us/admin-manual/2.8.1/start/#docker-linux

[2019-09-19 07:40] Diachk commented on #102
I am hoping that when Azure Search officially supports the Gremlin API, they release an article/blogpost on how to set it up.

From an email from Luis Bosquez:

[2019-09-23 13:54] Diachk opened #103 "Update the browser compatibility list"
Safari is not supported anymore, let's make it official, also verify that we are still compatible the the versions mentioned here.
![Screenshot 2019-09-23 at 14 59 31](https://user-images.githubusercontent.com/7275039/65431585-ffe11300-de19-11e9-9284-ee59a923e5e5.png)

[2019-09-23 14:08] davidrapin commented on #103
@Diachk this has been discussed with frontend recently, please check with @aabarata

[2019-09-23 14:27] Diachk commented on #103
related to https://github.com/Linkurious/linkurious-frontend/issues/2517

[2019-09-23 14:36] fantandrea commented on #103
Could make sense:
* to put in the documentation list of `tested` or `validated` browsers where we specify the minimal version used to perform our tests
* mention the few external library that we used to say that as well as their browser is compatible with that they have high chances to get the system working. But it is clearly implicit that we didn't perform any test on it

I guess that our system

[2019-09-30 14:16] fantandrea opened #104 "Missing forcePublicHttps documentation"
After the commit linkurious/linkurious-server#1925 the new `forcePublicHttps` parameter has not been documented in the Web Server section of the doc

[2019-10-08 08:48] fantandrea commented on #102
In the mean time I'll try to better explain the steps in the documentation. Another customer struggling with the same https://secure.helpscout.net/conversation/975136193/8064/

[2019-10-11 14:11] fantandrea opened #105 "[admin manual] Move FAQ section at top for high visibility"
It is hard to notice that a FAQ section exists in the documentation. Moving it as first element could help to let people notice it and have a look to it before contact support

[2019-10-11 14:16] fantandrea opened #106 "Reverse version order from latest to oldest (like Ogma doc)"
Currently User Manual, Admin Manual and API Manual shows the last stable link and the top and then documentation from 1.6.0 (not used anymore) to the most recent. This is not useful to move to the latest versions.
![image](https://user-images.githubusercontent.com/12516532/66658534-f8a36d00-ec41-11e9-8a4a-b7eb45d5f16d.png)

Currently in Ogma doc the order is reverse and more useful.
![image](https

[2019-10-11 14:17] fantandrea commented on #106
@davidrapin we discussed this some time ago, do you still agree in making this change? In case I'll try to work on it

[2019-10-12 07:06] davidrapin commented on #106
yes, i also think we could simplify the structure of the doc by removing
all patch versions and have a “2.6” link that contains the doc for the
latest 2.6 release (e.g. 2.6.4), sane for 2.7 etc. This will reduce the
number of links we show.

On Fri 11 Oct 2019 at 16:17, fantandrea <notifications@github.com> wrote:

--
David Rapin
CTO & co-founder
http://linkurio.us

[2019-10-14 14:52] fantandrea commented on #81
It works and has been shipped with v2.7.7. (@francescoinfante should I also update the milestone?)

[2019-10-14 14:52] #81 closed

[2019-10-14 15:36] fantandrea commented on #106
I saw that the list is retrieved from an ajax call, not sure what is the source of all the versions.

More over at least for last releases (beta, stable, previous stable) I guess it worth to keep the full list to avoid issues with customers running previous versions. WDYT?

[2019-10-14 17:02] davidrapin commented on #106
The list is produced by listing all folders in the doc root.
Ok, let's just re-sort the list frontend side for now.

[2019-10-14 17:23] davidrapin commented on #85
@fantandrea removing frol 2.8.2 as this is not a blocking requirement for this release. Let me know what your strategy for improving the doc will be so that we can discuss how to go forward with this.

[2019-10-14 18:06] francescoinfante commented on #81
updated the milestone

[2019-10-15 09:59] fantandrea commented on #85
I started to work on the different doc issues. All of them are not related to a specific version so I would add them starting from the latest version. I can commit it on separate pull request so we can decide when to publish it.

[2019-10-15 15:15] fantandrea opened #107 "Enhance Getting support instructions"
In the documentation exists a section on how to [get support](https://doc.linkurio.us/admin-manual/latest/support/) but the assumption is that the system is up and running to generate the automatic report.

This assumption is not alway valid especially in the case of an issue.

I suggest to add the instructions for manually compress the needed files or even better make the same feature available a

[2019-10-15 15:15] fantandrea commented on #107
@davidrapin wdyt?

[2019-10-15 15:16] davidrapin commented on #107
good idea, +1

On Tue, Oct 15, 2019 at 5:15 PM fantandrea <notifications@github.com> wrote:

[2019-10-15 15:43] fantandrea commented on #100
@davidrapin the issue is actually related to hardcode links in the `content\admin\dokapi.json` configuration file:

[code]

What is the logic behind porting this in prod? Should I just reference the prod environment also in the second link? (both links in test environment will always target to the online site)

[2019-10-15 16:02] davidrapin commented on #100
- we should avoid hardcoded links in the code (even using variables) as
much as possible
- hardcoded links should never be to the dev env (it is not public)

next step:
- fix the link
- find the person who did this and explain why it should not be done

On Tue, Oct 15, 2019 at 5:43 PM fantandrea <notifications@github.com> wrote:

[2019-10-18 13:30] francescoinfante commented on #100
Unsure how it happened but it's actually me 11 months ago :p

https://github.com/Linkurious/documentation/commit/1aa864d07eef6fafb50f583f0c04b670a4bc925f

going to fix that

[2019-10-18 13:35] francescoinfante commented on #100
@davidrapin the reason we need to use hardlink is the following:
https://github.com/Linkurious/documentation/issues/58

[2019-10-18 13:56] francescoinfante commented on #100
fixed for 2.8.2

[2019-10-18 13:59] francescoinfante commented on #104
done in 2.8.2

[2019-10-18 14:22] francescoinfante commented on #97
done

[2019-10-18 14:23] francescoinfante commented on #97
done b5a6b74

[2019-10-23 16:17] fantandrea opened #108 "Search Index cross reference"
Different pages in the Admin doc refers the index server but the data are outdate:

https://doc.linkurio.us/admin-manual/2.8.1/search/#using-the-configuration-file
1. Neo4j-to-ElasticSearch is linked to Neo4j Search
2. Neo4j Search is missing
3. CosmosDB is missing

https://doc.linkurio.us/admin-manual/2.8.1/search/#search-scalability-and-alternatives-to-elasticsearch
1. The link for `using the ne

[2019-10-23 17:19] davidrapin commented on #108
lots of outdated things indeed

[2019-10-23 17:20] davidrapin commented on #108
most of that could be replaced with a link to this page: https://doc.linkurio.us/admin-manual/2.8.1/search-options/

[2019-10-24 08:35] sheymann opened #109 "Update Download page with new Download Center"
On https://doc.linkurio.us/admin-manual/latest/download/

- Replace "https://linkurio.us/my-account/" with "https://get.linkurio.us/"
- Add a tutorial with screenshots on how to download LKE through the new Download Center

I'm available for help. :)

[2019-10-25 09:45] fantandrea opened #110 "[Advanced search] Property filter images outdated"
In the user doc section [Advanced Search](https://doc.linkurio.us/user-manual/2.7.7/search-advanced/) the image for `Property filter` still shows the old name `contains` rather than `is`.

![image](https://user-images.githubusercontent.com/12516532/67561316-e08d1c80-f71c-11e9-8502-4f238621b59e.png)

[2019-10-30 10:29] fantandrea opened #111 "Docker instruction to manage named volumes"
According to new changes in the docker image Linkurious/linkurious-server#1950, update the documentation to

- [x] Update the documentation to recommend using named volumes
- [x] Add an example of a named volumes creation

[2019-11-04 15:09] fantandrea opened #112 "[EPIC] Stable Documentation Enhancement"
Enhancement to the current stable version of the documentation.
All items are related to better describe existing features or general enhancements.

[2019-11-04 15:48] fantandrea commented on #82
According to #110 also this page need to be reviewed:

https://dev.linkurio.us/doc/user-manual/latest/search-advanced/

[2019-11-08 10:20] francescoinfante opened #114 "Improve download Java section"
Downloading Java JDK now requires to create an Oracle Account.

We need to change the link to https://www.java.com/en/download

[2019-11-08 10:22] francescoinfante opened #115 "Document how to use Neo4jDesktop with Linkurious"
We need to add to our admin doc (or create an external document) on how to properly setup and start Neo4jDesktop with Linkurious starting from some dataset folders.

[2019-11-15 12:57] #99 closed

[2019-11-18 12:17] francescoinfante commented on #114
duplicate of #19

[2019-11-18 12:17] #114 closed

[2019-11-18 12:18] #100 closed

[2019-11-18 13:55] pastahito commented on #98
PRs: https://github.com/Linkurious/documentation/pull/117 and https://github.com/Linkurious/linkurious-server/pull/1976

[2019-11-18 14:15] #98 closed

[2019-11-28 17:31] thibaultlink commented on #97
Fixed.

[2019-11-28 17:31] #97 closed

[2019-11-28 17:31] thibaultlink commented on #104
Validated.

[2019-11-28 17:31] #104 closed

[2019-11-29 13:07] #101 closed

[2019-11-29 13:08] fantandrea commented on #105
Validated.

[2019-11-29 13:08] #105 closed

[2019-11-29 13:08] fantandrea commented on #101
Validated.

[2019-11-29 13:09] fantandrea commented on #107
Validated.

[2019-11-29 13:09] #107 closed

[2019-11-29 13:09] fantandrea commented on #109
Validated.

[2019-11-29 13:10] fantandrea commented on #83
Validated.

[2019-11-29 13:10] #83 closed

[2019-11-29 13:10] fantandrea commented on #86
Validated.

[2019-11-29 13:10] #86 closed

[2019-11-29 13:15] fantandrea commented on #109
@sheymann maybe you want to review the final result. It is on `preprod`branch, when solved the issues with the CI will be also online on the dev portal

[2019-11-29 13:19] fantandrea commented on #109
@sheymann actually you can already see the same changes on the [doc for 2.8.2](https://dev.linkurio.us/doc/admin-manual/latest/download/)

[2019-11-29 14:12] sheymann commented on #109
@fantandrea thanks, can you use the ACME customer instead of TEST for the screenshot? No need to blur the emails.

[2019-11-29 15:01] fantandrea commented on #109
@sheymann are you ok with this?

![Screen Shot 2019-11-29 at 15 59 11](https://user-images.githubusercontent.com/12516532/69877025-5d358c80-12c1-11ea-8ffd-c8e1135fe3ed.png)

[2019-11-29 15:18] sheymann commented on #109
Yes

[2019-11-29 16:34] fantandrea commented on #109
@sheymann change merged in all preprod environments

[2019-11-29 16:34] #109 closed

[2019-12-02 16:42] fantandrea commented on #106
@davidrapin here a summary of this issue. We decided to don't implement the last item for the moment. Do you want discuss a strategy for last point or should I close the issue?

* [x] Reverse the order of the links
* [x] Modify the first link from `Manual for version **latest**` to `Manual for version **latest stable**` to avoid ambiguity with the numbers
* [ ] simplify the structure of the doc by

[2019-12-05 09:56] thibaultlink commented on #103
@Diachk what's the status on this ? Do you need anything to close this issue ?

[2019-12-05 15:40] fantandrea commented on #111
New instructions validated

[2019-12-05 15:40] #111 closed

[2019-12-05 17:32] Diachk opened #120 "Add rawQueryLimit to advanced settings documentation"
I have noticed that we miss raw query limit in the advanced settings documentation
https://doc.linkurio.us/admin-manual/2.8.1/advanced-settings/

[2019-12-06 13:42] davidrapin commented on #19
removing the milestone since this does not seems to be a priority

[2019-12-09 16:32] davidrapin commented on #106
I'm not sure the simplification of the list is actually desirable, let's open another issue for that if it's really needed.

[2019-12-09 17:08] thibaultlink commented on #103
Moved to 2.9 because the following related issue is also part of 2.9
https://github.com/Linkurious/linkurious-frontend/issues/2517

[2019-12-10 09:02] fantandrea commented on #106
I don't think it's needed since my concern of generating confusion in case of introduction of changes (e.g. alternative ID optimization introduced just in 2.7.7). I'm going to close this without open a new one.

[2019-12-10 09:02] #106 closed

[2019-12-10 13:30] thibaultlink opened #121 "Admin + API Plugins doc"
This is to discuss how to implement Admin + API doc for plugins.
A previous discussion exists here (Plugins Epic): https://github.com/Linkurious/linkurious-server/issues/1841

[2019-12-10 14:13] davidrapin opened #122 "Developer documentation for plugins"
Goal:
- [ ] rename "API doc" to "SDK Doc" on https://doc.linkurio.us/
- [ ] add a "Plugins" tab in https://doc.linkurio.us/server-sdk/latest/index.html
- [ ] explain to developers how to create plugins
- [ ] share plugin code examples

[2019-12-10 14:13] davidrapin commented on #121
splitting off dev doc  as this is quite a big task: https://github.com/Linkurious/documentation/issues/122

[2020-01-06 16:37] fantandrea commented on #85
The same script is going to be used again from Softlink, [here](https://secure.helpscout.net/conversation/1045547253/8933/#thread-2964249032) the thread with detailed steps to be copied/pasted when needed. I'll update the documentation soon.

[2020-01-08 09:19] fantandrea opened #123 "Process Owner configuration section is missing"
In the installation section of the admin manual there is an outdated section regarding the installation as a service.

- [x] The screen shot doesn't  show the process owner
- [x] The are no advice on the best configuration (not needed to use root/admin accounts)
- [x] There are no instructions that the installation should be done with the LKE service account
- [x] There are no information on how t

[2020-01-09 14:57] fantandrea commented on #103
As per last David's comment in the closed front end issue:

[2020-01-14 16:54] fantandrea opened #124 "Outdated version of crunchbase link"
In the user manual, in the [First Visualization section](https://doc.linkurio.us/user-manual/latest/visualization/) there is a link to download the Crunchbase data set, however this is done in a Neo4j v2.2.x version and new version 3.5.x failed to start it.
A multi step upgrade 2.2.x -> 2.3.12 -> 3.5.12 is needed.

Attached the migrated db [crunchbase-sfbay-neo4j v3.5.12.db.zip](https://github.com

[2020-01-15 10:22] davidrapin commented on #124
notes:
- add  the new updated file to the doc repo (target: `documentation/content/shared/assets`)
- change the link in the doc

[2020-01-22 09:54] fantandrea opened #125 "Missing properties in Alert configuration"
In the [Alerts Configuration](https://doc.linkurio.us/admin-manual/2.8.2/config-alerts/) section of the admin doc `maxMatchTTL` and `enabled` parameters are not described. The latest one in particular should be refereed in the instructions to activate a Fault Tolerance environment.

[2020-01-23 13:22] davidrapin commented on #125
I think `maxMatchTTL` was removed, @fantandrea where did you read about it?
 @francescoinfante can you confirm?

[2020-01-23 13:35] fantandrea commented on #125
@davidrapin it was in my `production.json` file after a fresh installation.

And I can confirm it's still in the configuration parser

[code]

[2020-01-23 13:41] davidrapin commented on #125
it's tolerated but unused since several versions if I remember correctly.

On Thu, Jan 23, 2020 at 2:35 PM fantandrea <notifications@github.com> wrote:

[2020-01-23 13:47] fantandrea commented on #125
Ok, as soon as francesco confirm, I'll remove it from the scope.

Are you ok to document the `enable` parameter and specify that this is the correct way to disable alerts in a Fault Tolerance config?

[2020-01-23 13:48] davidrapin commented on #125
@fantandrea regarding `enabled` and  fault tolerance: yes

[2020-01-23 14:00] francescoinfante commented on #125
@davidrapin @fantandrea code has never been removed. Setting a matchTTL of 30 has a different meaning of setting a matchTTL of 0.

TTL = 30 means a match will disappear, if not confirmed, after 30 days
TTL = 0 means a match will disappear, if not confirmed, if it's not matched again at the following re-run of the alert.

I'm waiting for the case management epic to actually remove it and refactor a

[2020-01-23 14:09] fantandrea opened #126 "Architecture schema not aligned to current supported technologies"
In the [admin doc of version 2.8](https://doc.linkurio.us/admin-manual/2.8.2/), the architectural schema shows outdated info:
- [x] Remove AllegroGraph
- [x] Remove DataStax
- [x] Remove Stardog
- [x] Add Azure Search
- [x] Add Neo4j Search
- [x] Add JanusSearch
- [x] Add OpenID Connect

[2020-01-24 14:10] fantandrea opened #127 "[Admin Doc] Refresh Importing graph data section"
The [Importing graph data section](https://doc.linkurio.us/admin-manual/lates/importing-graph-data/) of the admin doc contain few info. Sale team would like to have the section enriched with more material to support customers.

- [ ] Verify that the current contents are still actual (e.g. the github repo is 6y old with solution for Neo4j 2.2+. Still applicable to Neo4j v4?)
- [ ] Add more contents

[2020-01-27 16:16] tbolke opened #128 "Filter nodes - error on date format"
@meaningfool
The last section of the page https://doc.linkurio.us/user-manual/2.7.6/filter-node/ for v 2.7, explains that in order to filter a node by date, the date must be in a YYYY-MM-DD format

The right format is timestamp.

You agree?

[2020-01-27 16:22] davidrapin commented on #128
Indeed, in 2.7, date must be stored as https://en.wikipedia.org/wiki/Unix_time timestamps to be filterable.
@maxime-allex can you confirm if the timestamp should be in seconds or in milliseconds?

[2020-01-29 09:30] maxime-allex commented on #128
The timestamp should be in seconds.

[2020-01-29 10:46] thibaultlink commented on #128
@meaningfool Since we have the necessary tech specs, I'm setting this as ready-to-dev.

[2020-01-29 14:19] thibaultlink commented on #128
Date format changed to "Unix Timestamp (in seconds)". Closing this issue.

[2020-01-29 14:19] #128 closed

[2020-01-31 13:32] Diachk opened #129 "Add supported serilizers to JanusGraph documentation"
In the current documentation the only instruction is to remove the graphsonV3 serializer
The problem is that in JanusGraph v0.4 there are additional serialisers that we don't support and the clients are not instructed to remove them

What we should document is the closed list of supported serialisers

The problem is discussed here
https://secure.helpscout.net/conversation/1061096775/9101/

[2020-02-04 15:02] thibaultlink commented on #129
Moving to 2.8.3. Not necessary in 2.7.8

[2020-02-10 11:34] thibaultlink commented on #122
@davidrapin pinging you to decide the milestone for this issue. I think it should be 2.9.0 or 2.9.1

[2020-02-10 12:25] thibaultlink opened #130 "[Advanced Search Syntax] User documentation"
@thibaultlink commented on [Mon Feb 10 2020](https://github.com/Linkurious/linkurious-frontend/issues/2900)

Goal : Write user documentation for Advanced Search Syntax

Related Kickstart issues :
Search Semantics (general specifications) : https://github.com/Linkurious/kickstart/issues/121
Clarify Advanced search property-filter contract : https://github.com/Linkurious/kickstart/issues/145
LKE sea

[2020-02-10 12:26] thibaultlink opened #131 "[Advanced Search Syntax] Admin and API Documentation"
@thibaultlink commented on [Mon Feb 10 2020](https://github.com/Linkurious/linkurious-frontend/issues/2901)

Goal : Write Admin & API documentation for Advanced Search Syntax

Related Kickstart issues :
Search Semantics (general specifications) : https://github.com/Linkurious/kickstart/issues/121
Clarify Advanced search property-filter contract : https://github.com/Linkurious/kickstart/issues/145

[2020-02-10 13:57] davidrapin commented on #122
I vote for 2.9.1

[2020-02-10 14:27] meaningfool commented on #82
What's the process for me to update screenshots @thibaultlink?

[2020-02-10 14:36] thibaultlink commented on #82
@meaningfool I'm working on a process for writing and updating documentation but it won't be ready for a few weeks. In the meantime, what do you need to be able to update them ?

[2020-02-10 14:41] fantandrea commented on #82
@thibaultlink this is the issue I was referring last time with the outdated images.

Another issue is with the images in the Guest Mode of the `Admin Section` (they are from some very old version of the system) [https://doc.linkurio.us/admin-manual/latest/guest-mode/](https://doc.linkurio.us/admin-manual/latest/guest-mode/).

Unless we need to refresh the images, I guess we can just reuse the same

[2020-02-10 15:00] meaningfool commented on #82
@thibaultlink at this point, I don't remember where the doc source code is stored and how/where I should upload an image file and change the links in the docs.

I'll create .md files for new doc pages or largely edited pages. However I'm not sure how efficient it is for me to update a screenshot if there is no easy and straightforward to do it and check the result...

Let me know what seems workab

[2020-02-10 15:22] thibaultlink commented on #82
I misunderstood the meaning of process here. I can totally write instructions on how to update the doc (incl. screenshots). I'll update here once the instructions are ready.

[2020-02-10 17:21] meaningfool commented on #82
it'd be great to have a process, but nobody's is at fault: we did not take the time to actually make one... Here what I'm look for is an opinion / a clarification. I could very well do some screenshots and then pass it on to somebody else so that they are integrated in the doc. It probably would be faster to have 1 person do it all: make the screenshot and update the doc. WDYT? @davidrapin?

[2020-02-11 15:30] davidrapin commented on #82
@meaningfool I'm 100% confident that writing instructions on how to update the user-manual and admin-doc would scale much better than having me be pinged/involved each time we need to change the doc :p

[2020-02-11 15:31] davidrapin commented on #82
proposal: I will write instructions on how to update the doc this week and see if this helps.

[2020-02-11 15:34] davidrapin opened #132 "In "custom CA" section, mention need to re-install as a service"
When using custom CAs, and LKE is installed as a service, the service needs to be uninstalled and re-installed for the change to be taken into account.

[2020-02-11 18:23] meaningfool commented on #82
I'm writing docs already. My question is specific to the case when we need to update screenshots.

[2020-02-11 18:25] meaningfool commented on #82
Proposal: I can paste screenshots in this thread if that's convenient

[2020-02-12 10:31] thibaultlink commented on #82
@meaningfool @davidrapin I made some short instructions on how to update screenshots :
https://github.com/Linkurious/documentation/blob/preprod-next/Update_screenshots.md

[2020-02-14 13:41] fantandrea opened #133 "Document all supported versions of external software"
Today we have some known compatibly issue with external software. This limitation are not documented:
- [x] Neo4j v4
- [x] MySQL v8
- [x] ElasticSearch v7

[2020-02-14 13:42] fantandrea commented on #133
@davidrapin should it be fixed in 2.8.3?

[2020-02-14 13:43] francescoinfante commented on #133
Neo4j v4 and ES 7 are documented
first line here:
https://doc.linkurio.us/admin-manual/latest/configure-neo4j/

and almost first line here:
https://doc.linkurio.us/admin-manual/latest/es-config/

[2020-02-14 13:44] davidrapin commented on #133
@fantandrea 2.8.3 is fine for me

[2020-02-14 13:47] fantandrea opened #134 "Docker installation instructions are broken"
Current instructions:

## Docker Linux
1. Unzip the docker image: `> gunzip linkurious-docker-v{{package.version}}.tar.gz`
2. Load the docker image `> docker load < linkurious-docker.tar`

The step 1 generates a file called `linkurious-docker-v{{package.version}}.tar` thus current step2 is broken

[2020-02-14 15:33] fantandrea commented on #133
@francescoinfante thanks for the notes, neo4j v4 was added in the latest doc. When we started the discussion it wasn't still available.

For the db version I think we can add a note [here](https://doc.linkurio.us/admin-manual/latest/user-data-store/) after the list.

What is the exact version constraint for both MySQL and MariaDB?

Are there other missing compatibility issues?

[2020-02-14 16:58] meaningfool opened #135 "Custom actions"
Kickstart ticket #30 https://github.com/Linkurious/kickstart/issues/30

Here is the .md and assets
[custom-actions.zip](https://github.com/Linkurious/documentation/files/4205598/custom-actions.zip)

[2020-02-14 16:58] meaningfool commented on #135
@thibaultlink @davidrapin

[2020-02-14 17:09] meaningfool commented on #130
Here are the instructions regarding the doc structure:

Authentication (not clickable or empty index.md) (NEW)
	Authentication in Linkurious Enterprise (authentication-in-linkurious-enterprise)(NEW)
	LDAP / Active Directory
	SSO with Azure AD
	SSO with Google
	SSO with OpenID Connect
	SSO with SAML2 / ADFS

Access control (not clickable or access/index.md empty)
	REMOVE enable-auth.md
	REMOVE user

[2020-02-14 17:14] meaningfool commented on #130
Deleting my previous ticket (wrong doc ticket). Here is the md file for the search syntax
[search-syntax.md.zip](https://github.com/Linkurious/documentation/files/4205704/search-syntax.md.zip)

[2020-02-14 17:16] meaningfool opened #136 "Property-key access rights"
Kickstart ticket: https://github.com/Linkurious/kickstart/issues/93

I had to rework the whole doc structure.

Here are the instructions regarding the doc structure:

Authentication (not clickable or empty index.md) (NEW)
	Authentication in Linkurious Enterprise (authentication-in-linkurious-enterprise)(NEW)
	LDAP / Active Directory
	SSO with Azure AD
	SSO with Google
	SSO with OpenID Connect
	SSO

[2020-02-14 17:17] meaningfool commented on #136
@davidrapin @thibaultlink

[2020-02-14 17:17] meaningfool commented on #130
cc @davidrapin

[2020-02-14 18:00] meaningfool commented on #82
I updated all images except for
- authentication as it is refactored in 2.9 and already documented in another ticket
- guest mode since apparently I don't need to

Please note that image size may not be consistent with what it used to be. I can't go into it, and I need to move to other subjects. So I rely on you to fix this one last thing.

Thanks

[2020-02-17 09:03] jvilledieu opened #137 "Remove 38 mentions of Stardog (and DataStax and Allegrograph)"
Apparently there are 38 mentions of Stardog in the current version of the documentation: https://doc.linkurio.us/admin-manual/latest/page.html

Maybe we can remove those?

[2020-02-17 09:34] fantandrea commented on #137
@jvilledieu the link you posted is for v2.7 where we still support it.

We dropped the support on v2.8, please check [https://doc.linkurio.us/admin-manual/2.8.2/page.html](https://doc.linkurio.us/admin-manual/2.8.2/page.html). If you are ok with this, you can close the issue (no actions to do).

[2020-02-17 09:45] fantandrea opened #138 "[Admin Doc] Outdate description for defaultFuzziness"
Current Admin Doc still contains the old description for fuzziness (the logic has been inverted to far) [https://doc.linkurio.us/admin-manual/latest/page.html#advanced-settings__graph-exploration-settings](https://doc.linkurio.us/admin-manual/latest/page.html#advanced-settings__graph-exploration-settings)

Since the doc is outdated, [this example](https://doc.linkurio.us/admin-manual/latest/page.h

[2020-02-17 11:16] jvilledieu commented on #137
Thanks, perfect.

On Mon, Feb 17, 2020, 10:34 fantandrea <notifications@github.com> wrote:

[2020-02-17 12:17] #137 closed

[2020-02-17 14:22] francescoinfante commented on #133
@fantandrea I'm not aware of version compatibility for the SQL databases. it has to be tested.

For now this is what we are aware of:
https://github.com/sequelize/sequelize/issues/9432

[2020-02-17 16:45] fantandrea opened #139 "[Admin Doc] Document statistics attribute in the default style configuration"
In the admin documentation, under the [default style](https://doc.linkurio.us/admin-manual/latest/styles/) section, the `input` attribute is not documented to explain all the alternatives:
- [x] Explain how the array should be structured
- [x] Explain what `properties` means
- [x] Explain that is possible to use `statistics` and mention `degree` (structure the documentation to easily add more valu

[2020-02-17 16:48] fantandrea commented on #139
@davidrapin any other statistic that make sense to mention at this stage?

[2020-02-17 17:40] davidrapin commented on #139
let’s go with statistics only for now.

On Mon 17 Feb 2020 at 17:48, fantandrea <notifications@github.com> wrote:

--
David Rapin
CTO & co-founder
http://linkurio.us

[2020-02-19 19:52] davidrapin commented on #135
note to self: integrated

[2020-02-20 09:32] davidrapin commented on #82
@meaningfool which branch did you push the images in?

[2020-02-20 12:27] meaningfool commented on #82
in develop-next as far as I remember

[2020-02-20 16:35] thibaultlink commented on #82
this means `preprod-next` in this repo

[2020-02-20 17:24] fantandrea commented on #126
@davidrapin do we have the original source file of the architecture (maybe in a slide or other editable formats)? It will be easier to change the blocks

[2020-02-20 18:22] fantandrea commented on #124
@davidrapin how can I properly link the file in the shared folder? I alway received error saying `Broken internal link`.

I receive the error even when trying to put in the same folder `[download and install the dataset](/visualization/crunchbase-sfbay-neo4j.v3.5.12.db.zip)`

[2020-02-21 09:45] davidrapin commented on #126
There it is: https://github.com/Linkurious/documentation/blob/preprod-stable/content/admin/arch_schema.svg
I don't have any SVG editor at hand, maybe @PierreUI or @maxime-allex can help us with that?

[2020-02-21 12:29] davidrapin commented on #124
You are right, this does not work.
I created a repo for doc resources:
https://github.com/Linkurious/documentation-resources

On Thu, Feb 20, 2020 at 7:22 PM fantandrea <notifications@github.com> wrote:

[2020-02-21 14:03] davidrapin opened #141 "Make doc editing easier"
options:
- https://headlesscms.org/
- https://desktop.github.com/
- ?

[2020-02-21 15:58] andre91a opened #142 "Misleading instructions to configure SSO"
https://doc.linkurio.us/admin-manual/2.8.2/sso-google/

In the documentation page at step 3 you can read:
`Add an oauth2 section inside the access section in linkurious/data/config/production.json`

_production.json_ already has the section `oauth2` so it's just necessary to fill it

[2020-02-21 17:57] davidrapin commented on #136
@meaningfool please validate
https://dev.linkurio.us/doc-next/admin-manual/latest/access-control/

[2020-02-21 17:58] davidrapin commented on #135
@meaningfool please validate
https://dev.linkurio.us/doc-next/user-manual/latest/custom-actions/

[2020-02-21 17:58] davidrapin commented on #130
@meaningfool please validate https://dev.linkurio.us/doc-next/user-manual/latest/search-syntax/

[2020-02-21 18:03] fantandrea commented on #130
Regarding the part

In the admin section we already covered the case with the instructions on [how to activate the feature](https://dev.linkurio.us/doc-next/admin-manual/latest/es-config/#configuring-elasticsearch-v2x).
Maybe this should be the entry point before contacting the support.

[2020-02-21 18:07] fantandrea commented on #18
Is the current description in the FAQ on [how to create a fault tolerance env](https://dev.linkurio.us/doc-next/admin-manual/latest/faq/#how-can-fault-tolerance-be-achieved) with nginx enough for this issue?

[2020-02-21 18:09] fantandrea commented on #57
@davidrapin I guess this is covered by [this section](https://dev.linkurio.us/doc-next/admin-manual/latest/search-options/) right? Can we close?

[2020-02-21 18:31] davidrapin commented on #57
yes! nice catch @fantandrea

[2020-02-21 18:31] #57 closed

[2020-02-21 18:32] davidrapin commented on #18
no one asked for apache again, so we can assume nginx is enough :)

[2020-02-24 09:50] fantandrea commented on #18
Ok, then I'm closing it.

[2020-02-24 09:50] #18 closed

[2020-02-24 13:48] andre91a opened #143 "Missing "," in SQLite configuration"
Reference link: https://doc.linkurio.us/admin-manual/2.8.2/user-data-store/
In the section "Configure with SQLite" a "," is missing:

[code]

Correct version:
[code]

[2020-02-24 14:08] francescoinfante commented on #143
@fantandrea for issues like this I suggest you to create directly a commit to preprod or if you prefer a PR to it.

[2020-02-24 14:23] fantandrea commented on #143
it's just for traceability since I'm already working on changes and will be part of my current commits

[2020-02-24 15:01] fantandrea commented on #123
Current behavior at each manager start:
- if the `--user bla` command line options is passed, use this user
- otherwise, use the owner of the `linkurious` folder
- otherwise, use the sudo user (the original user before calling sudo)
- otherwise, use the current user

[2020-02-24 16:07] fantandrea commented on #69
@maxime-allex this issue is one year old. Today the doc already contains this.

Is it enough? Or was already the case last year and you would something more explicit?

[2020-02-25 09:24] Diachk opened #144 "Improve the visualisation API doc"
There are a few issue in the API documentation for visualisation:

- [ ] There are no examples of `create visualisation` data model
- [ ] The parameters of `update visualisation` are partially defined

https://doc.linkurio.us/server-sdk/latest/apidoc/#api-Visualizations

[2020-02-26 10:33] fantandrea opened #145 "Define a process to define updates independently of the release process"
It happened (and will happen) that during the development of our system, other software that we support perform some breaking changes (e.g. MySQL, ES, Neo4j #133 ).

In this situation today we should wait a new release to push a new update to add this notes and in the meantime we have not aligned versions. e.g. `v2.7.8` mention Neo4j v4 but it will appear in `v2.8` just with `v2.8.3`.

We knew thi

[2020-02-26 10:34] fantandrea commented on #145
@davidrapin @Diachk @andre91a as discussed this morning, here the issue to discuss.

@marilyne-linkurious we already discussed about this proposal, let's collect here all the feedbacks

[2020-02-27 13:28] meaningfool commented on #130
@fantandrea my understanding is that configuration may not be enough, we also need ES to recognize the property as a number. If this does not happen then the client has to manually input a mapping in ES config. So my thinking here is, let them contact us so that:
- We can learn about who needs that and to do what
- We help them on a case-by-case basis
- Once we have a few examples that will help u

[2020-02-27 13:28] meaningfool commented on #130
@davidrapin doc is ok for me

[2020-02-27 13:31] davidrapin commented on #145
@fantandrea nice start! For each tool, I would add the minimum and maximum supported version (not just max).

[2020-02-27 13:35] meaningfool commented on #135
@davidrapin I'm ok with most of the changes you made. However some information about incompatibilities between variables has been lost.

You mention only this
![image](https://user-images.githubusercontent.com/2862331/75449853-085feb80-596e-11ea-9128-837b9ba7961c.png)

But actually one cannot combine {{node}} with {{nodese}} or {{edgeset}}. Also if there are some constraints on a node category, th

[2020-02-27 13:38] meaningfool commented on #136
ok for me

[2020-02-27 13:56] fantandrea opened #146 "Company name mentioned instead of product name"
In many sections of the documentation, the company name `Linkurious` is mentioned instead of the product name `Linkurious Enterprise`.

Rename the occurrences with the appropriate `{{lke}}` tag.

[2020-02-27 16:03] fantandrea commented on #145
@francescoinfante this is indeed the main problem:

1. If you land in the documentation you may arrive on the `latest` doc or on a specific version (depending how how reach it). You don't have a clear picture on which version you should use based on your need (you'll need to manually scroll all the versions of interest)

2. Neo4j 4.0.0 was officially released on 2020-01-15 (but announced and avail

[2020-02-27 16:32] fantandrea commented on #110
Included in #82

[2020-02-27 16:32] #110 closed

[2020-02-27 16:35] fantandrea commented on #146
@davidrapin this is a general comment raised by Maryline. I can invest some time in replacing all occurrences in my current branch of v2.8.3.

Not sure if something should be fixed in 2.9 as well and if we are able to maintain later on.

WDYT?

[2020-02-27 16:42] davidrapin commented on #146
This can be solved in 5mn using regular expressions search+replace in WebStorm, I can help with that if you need.
Target versions would be 2.8.3, we are shipping 2.9 tomorrow (we're a bit short on time).

[2020-02-27 17:00] fantandrea commented on #19
@davidrapin is this still of interest? If yes, is [this page](https://doc.linkurio.us/admin-manual/latest/requirements/#java) ok?

[2020-02-27 17:03] fantandrea commented on #47
Section already available in [user doc](https://doc.linkurio.us/user-manual/latest/shortcuts/)

[2020-02-27 17:03] #47 closed

[2020-02-27 17:13] davidrapin commented on #19
nobody seems to have issues with that, we can close

[2020-02-27 17:13] #19 closed

[2020-02-27 17:30] davidrapin commented on #135
@meaningfool
- regarding node/nodeset/edge/edgeset incompatibility, I decided to remove it since i thought that since it did not make sense from a semantic point of view, no one would try to do it, and if someone did, an error message would tell them about it. Let me know if you want to add it back.
- constraints: got it, let's add a phrase about the fact that `{{node:X}}` can only be mixed with o

[2020-02-28 10:09] fantandrea commented on #146
I can do it quite quickly as well on VS Code, however a bit of cross check is needed since many occurrences shouldn't be changes (checking for the capital L should already be 99.9999% accurate).

The question is if it make sense or we are just going to break the rule with the next doc update

[2020-02-28 13:18] thibaultlink commented on #130
Good for me too. Closing the issue.

[2020-02-28 13:21] thibaultlink commented on #130
Reopening issue :
@meaningfool numerical operators are "or equal". In the doc you said "Higher than". It should be "Higher or equal" and "Lower or equal".
Also, should we mention that the range is inclusive ?

[2020-02-28 13:55] davidrapin commented on #135
ping @meaningfool we need an answer ASAP

[2020-02-28 14:28] thibaultlink commented on #103
@davidrapin should I update the doc with :

[code]

[2020-02-28 14:30] thibaultlink commented on #136
Also good for me. Closing.

[2020-02-28 14:30] #136 closed

[2020-02-28 15:03] davidrapin commented on #103
updated and pushed, ready for validation at https://dev.linkurio.us/doc-next/admin-manual/latest/requirements/#web-browser

[2020-02-28 15:16] davidrapin commented on #146
let''s fix this :)

[2020-02-28 15:33] davidrapin commented on #131
- neosearch: only strings are searchable
- es1/2: search numbers and dates: need to enable dynamic mapping
- neo2es: nothing to add (malformed values that could break indexation)
- azuresearch: number and date search is not currently supported

@francescoinfante

[2020-02-28 16:08] thibaultlink commented on #130
Added "or equal" after discussing it with @meaningfool . Closing.

[2020-02-28 16:08] #130 closed

[2020-02-28 16:09] thibaultlink commented on #103
Good for me. Closing the issue.

[2020-02-28 16:09] #103 closed

[2020-02-28 16:22] thibaultlink commented on #135
@davidrapin we just validated both points from your last comment with  @meaningfool .  I propose replacing :

With

And adding :

[2020-02-28 16:30] thibaultlink commented on #121
Moving to 2.9.1 but this should be done at the very beginning of 2.9.1

[2020-02-28 16:49] davidrapin commented on #135
pushed, ready for validation

On Fri, Feb 28, 2020 at 5:22 PM thibaultlink <notifications@github.com>
wrote:

[2020-02-28 16:52] thibaultlink commented on #135
Validated. Closing.

[2020-02-28 16:52] #135 closed

[2020-03-03 16:12] francescoinfante commented on #131
done 676731a

[2020-03-05 15:53] maxime-allex commented on #69
@fantandrea Fine for me. You can close. Thanks !

[2020-03-05 16:41] #69 closed

[2020-03-05 17:12] fantandrea commented on #146
@davidrapin only remaining instances are related to copy/paste of the app.

E.g. `Start Linkurious` & `Stop Linkurious` from the menu script
`Linkurious ready to go :)` from the status API

do you want a fix in the code to change them?

[2020-03-05 17:26] fantandrea commented on #102
@davidrapin, based on @Diachk's comment on Wednesday, Azure Search is going to serialize all the items in a unique attribute called `_value`.

The original idea was to:
- [ ] Explain how to put the correct URL (they should remove the Gremlin API at the end of the URL)
- [ ] Explain what are the relevant security flags to activate
- [ ] Put the two examples of the query to use to index only the nod

[2020-03-05 17:48] davidrapin commented on #102
I think the new interface might already be available, let's sync with Mark (the azure search guy we are in touch with) to get more info about what is currently possible.
You can email him directly with me and @Diachk in copy (=> maheff@microsoft.com)

[2020-03-05 18:12] fantandrea commented on #27
@francescoinfante do you think the last commit is enough?

[2020-03-05 18:14] davidrapin commented on #146
Well done!
@fantandrea I think we don't need to go that far :D

[2020-03-05 18:17] fantandrea commented on #122
In the doc for developer, I would cover also:
- [ ] how to setup a debug environment for the plugin (expecting to being able to debug line by line)
- [ ] how to use TypeScript and in particular how to rely on TypeScript to use the REST Client interface

[2020-03-05 18:37] fantandrea commented on #144
@francescoinfante can you confirm this part of the doc is in the API src code? Are you handling it?

[2020-03-06 09:34] francescoinfante commented on #27
@fantandrea yes, I think it makes it for the issue and you can close

[2020-03-06 16:43] fantandrea commented on #129
@Diachk @francescoinfante I don't have many details on Janus Graph, do you want quickly fix it since you have a better knowledge of the issue or do you want to explain?

[2020-03-06 17:39] francescoinfante commented on #144
@fantandrea yes, API doc is in the server code next to the API declaration itself.

[2020-03-10 15:09] #123 closed

[2020-03-10 15:10] #120 closed

[2020-03-10 15:10] #124 closed

[2020-03-10 15:11] fantandrea commented on #125
Content reviewed by @francescoinfante

[2020-03-10 15:11] #125 closed

[2020-03-10 15:11] #126 closed

[2020-03-10 15:12] #132 closed

[2020-03-10 15:12] #133 closed

[2020-03-10 15:12] #134 closed

[2020-03-10 15:12] #138 closed

[2020-03-10 15:12] #142 closed

[2020-03-10 15:14] fantandrea commented on #146
@marilyne-linkurious can you validate and close?

[2020-03-10 15:16] #27 closed

[2020-03-10 15:16] #85 closed

[2020-03-10 15:19] fantandrea commented on #139
@meaningfool would you like to review? It's available [here](https://dev.linkurio.us/doc-stable/admin-manual/latest/styles/). First part of the page: parameter description + config example

[2020-03-10 15:23] fantandrea commented on #146
Validated

[2020-03-10 15:23] #146 closed

[2020-03-11 08:55] meaningfool commented on #139
ok for me

Le mar. 10 mars 2020 à 16:20, fantandrea <notifications@github.com> a
écrit :

--
Josselin Perrus
*Head of Product*
+33 (0) 6 15 87 43 99

[2020-03-11 12:49] #139 closed

[2020-03-11 13:30] thibaultlink commented on #131
Done. Closing.

[2020-03-12 11:26] fantandrea opened #150 "[API doc] Reverse version order from latest to oldest"
The API doc has not been affected by the changes for #106

[2020-03-12 20:04] davidrapin commented on #150
same for the admin doc I think.

On Thu 12 Mar 2020 at 12:26, fantandrea <notifications@github.com> wrote:

--
David Rapin
CTO & co-founder
http://linkurio.us

[2020-03-13 08:53] fantandrea commented on #150
No, both User and Admin are ok. Only API has not been affected

[2020-03-13 10:24] fantandrea commented on #150
How ever I don't see how to customize the `server-sdk` template page. If it follows the same template of the other sections, I guess there is a problem in the CI or in the deploy script.

If it is managed in a different repository, I need some help because I didn't found anything relevant in `linkurious-server`

[2020-03-19 08:59] davidrapin commented on #150
@fantandrea here is the folder for "server-sdk": https://github.com/Linkurious/documentation/tree/preprod/content/apidoc-examples

[2020-03-19 09:05] fantandrea commented on #150
Yes @andre91a already found it and pushed a PR

[2020-03-25 15:48] davidrapin commented on #122
@meaningfool integrating the "developer doc" for plugins in the public doc is already tracked here.

FYI here is our work in progress: https://docs.google.com/document/d/1rzs2mn757MGlLVYt7xfCkCwcIpwJ_57uvWK5pDSgEV4/edit#

[2020-03-25 20:10] davidrapin commented on #121
this will be mostly copying data from https://docs.google.com/document/d/1rzs2mn757MGlLVYt7xfCkCwcIpwJ_57uvWK5pDSgEV4/edit# to the admin doc

[2020-03-26 14:29] thibaultlink commented on #129
Established with @Diachk that this issue is low priority and that it would take as much time to explain it than to do it.
I'm moving it to 2.9.1 but I'm open to changing priority if we received support requests on this subject.
@fantandrea feel free to disagree here.

[2020-03-26 15:41] thibaultlink commented on #108
Reviewed and validated. Closing.

[2020-03-26 15:41] #108 closed

[2020-03-26 16:29] thibaultlink commented on #82
I replaced an extra screenshot. There's still some text to change in 5/6 pages in the doc.
I dearly wish this was wordpress and I could edit pages in wysiwyg with a single click. Right now the extra steps make it quite a chore.
In any case I'm closing the issue.

[2020-03-26 16:29] #82 closed

[2020-03-26 16:30] thibaultlink commented on #71
All issues closed. Closing.

[2020-03-26 16:30] #71 closed

[2020-04-21 09:05] fantandrea opened #153 "Wrong image in the "delete node" doc page"
From https://secure.helpscout.net/conversation/1141878951/10227/

In the doc page https://doc.linkurio.us/user-manual/2.8.3/edit-delete/ is mentioned the `delete` option but the edit is highlighted.

[2020-04-21 14:42] fantandrea opened #154 "Clarify the need to configure the schema to use the timeline"
According to https://secure.helpscout.net/conversation/1143223128/10235?folderId=3047731

Make more explicit the fact that the configuration should be done in the schema. Good spot first line of https://doc.linkurio.us/user-manual/2.8.3/timeline/

[2020-04-21 14:44] fantandrea commented on #154
@tbolke Do you think may be useful to add some information also in the UI or do you want to keep it just in the documentation?

If you are just approaching to LKE and maybe you saw that you can use that button, you don't know what to do when it is gray.

[2020-04-27 16:45] francescoinfante opened #155 "document supported SQL db version"
In this email:
https://secure.helpscout.net/conversation/1146189841/10246/
we discussed to a partner the supported SQL version.

We should add them to the doc.

[2020-04-30 13:34] thibaultlink commented on #154
@tbolke @fantandrea moving this issue to 2.8.5. What is needed to close this issue ? After reading your comments it's not clear to me.

[2020-04-30 16:18] thibaultlink commented on #154
@fantandrea We'd like to release today, that's why I moved the issue (to avoid being blocked because of a documentation issue).

[2020-05-05 12:54] fantandrea opened #157 "[Audit Trail] logPlugins parameter not documented"
@francescoinfante `logPlugins` seems to be related to v2.9 but not documented. Can you give more details about the impact of this parameter?

[2020-05-06 12:10] fantandrea opened #158 "document supported RedHat server"
In this email:
https://secure.helpscout.net/conversation/1146189841/10246/
we discussed to a partner the supported RedHat versions.

We should add them to the doc.

[2020-05-06 16:59] davidrapin commented on #158
We add in the doc the fact that we support RedHat 7.5+

[2020-05-07 13:51] francescoinfante commented on #157
If auditTrail.logPlugins is true we log one line for each plugin API request in the auditTrail file:÷
`{  userId: number, pluginName: string, requestUrl: string, requestBody: string, result: string }`

[2020-05-07 14:43] #143 closed

[2020-05-07 14:54] francescoinfante commented on #150
@fantandrea so this has been developed on preprod? we just need to cherry pick it to preprod-stable if you want the fix on 2.8.x

[2020-05-11 10:52] fantandrea opened #159 "Undocumented advanced parameters"
- [ ] `edgesBetweenSupernodes` (default `true`)
- [ ] `layoutWorkers` (default `2`)
- [ ] `slowQueryThreshold` (default `500`)
- [ ] `searchPrefixExpansion` (default `true`)
- [ ] `allowFraming` (default `false`)

[2020-05-13 09:19] fantandrea commented on #159
Hi @pastahito can you take care / coordinate with back end this update of the doc?

[2020-05-19 08:29] tbolke commented on #154
@davidrapin @fantandrea @marine-roy-link
This ticket has already been fixed (https://github.com/Linkurious/documentation/commit/7d7ecb9bb0c5673bc13e59871b58aa9d3c829582)
Can you pass it to validated?
Thanks

[2020-05-19 12:41] maxime-allex commented on #158
Good for me.

![Capture d’écran 2020-05-19 à 14.40.38.png](https://images.zenhubusercontent.com/5cc165004e45b82b5417531d/a505a3bb-4a88-4586-82e1-bc4922aec27a)

[2020-05-19 12:41] #158 closed

[2020-05-19 12:44] maxime-allex commented on #150
@francescoinfante I don't see the changes on preprod-stable.

![Capture d’écran 2020-05-19 à 14.44.20.png](https://images.zenhubusercontent.com/5cc165004e45b82b5417531d/5700c81c-3015-4817-83a1-dac763c88714)

[2020-05-19 12:49] maxime-allex commented on #154
Good for me.

![Capture d’écran 2020-05-19 à 14.49.26.png](https://images.zenhubusercontent.com/5cc165004e45b82b5417531d/04d8e507-83f1-44c3-9ecc-8666a84b941f)

[2020-05-19 12:49] #154 closed

[2020-05-19 12:52] francescoinfante commented on #150
I only cherry-picked one commit developed by @andre91a that was on the wrong branch.
I didn't have time to understand why it didn't work.

[2020-05-19 14:07] fantandrea commented on #150
@maxime-allex when validating be aware that there are two main changes:
1. The revers order
2. The `stable` word after latest
The expected result is:
![image](https://user-images.githubusercontent.com/12516532/82336211-95a16200-99ea-11ea-8ff5-f48ec211576c.png)

I'm telling this because on https://dev.linkurio.us/doc-next/server-sdk/latest/apidoc/ it seems there is only the first one. Locally there

[2020-05-20 09:10] fantandrea opened #160 "Missing info on how to update license"
- [ ] There is no documentation around how to activate the product when using docker image
- [ ] There is no documentation around how to update the license after the expiration date

[2020-05-25 09:11] Diachk opened #161 "Add a description for searchPrefixExpansion"
The admin configuration `advanced.searchPrefixExpansion` is not documented

[2020-05-25 09:12] Diachk opened #162 "Add a description for showBuiltinQueries"
The server configuration is `advanced. showBuiltinQueries `

[2020-05-25 09:14] fantandrea commented on #159
also `showBuiltinQueries` as per #162

[2020-05-25 09:14] Diachk commented on #161
duplicate of #159

[2020-05-25 09:14] #161 closed

[2020-05-25 09:15] Diachk commented on #162
duplicate of #159

[2020-05-25 09:15] #162 closed

[2020-05-28 14:45] pastahito commented on #150
server-sdk documentation is created in linkurious-server, and server's grunt scripts to create such documentation use `node_modules/apidoc/templates/main_static.js` for the api ordering.

Fixed here:
https://github.com/Linkurious/apidoc/pull/2

[2020-05-28 20:27] #153 closed

[2020-05-28 20:27] thibaultlink commented on #153
Validated by Marine. Closing.

[2020-05-29 07:07] Diachk commented on #150
@fantandrea please validate https://dev.linkurio.us/doc-stable/

[2020-05-29 08:08] fantandrea commented on #150
ok for the new changes but if I click multiple times on the same link (e.g. `latest stable`) I get redirected in round robin between
https://dev.linkurio.us/doc-stable/server-sdk/latest/apidoc/ (API documentation)
and
https://dev.linkurio.us/doc-stable/server-sdk/latest/ (API examples)

This is not the case on https://doc.linkurio.us/doc-stable/

Problems with the dev env or some conflict with the

[2020-05-29 14:25] Diachk commented on #150
yes it is strange indeed

[2020-05-29 14:58] pastahito commented on #150
It's because the fix for apidoc does not include the `linkSuffix` (https://github.com/Linkurious/documentation/commit/3c54041006beb73e10e5a5a969d299e45d5b9113#diff-8145729fff8df90fa1a0b77cd8371522R51)

[2020-05-29 16:02] pastahito commented on #150
@andre91a fixed https://dev.linkurio.us/doc-stable/server-sdk/latest/apidoc/

[2020-05-29 16:49] fantandrea commented on #150
valid

[2020-05-29 16:49] #150 closed

[2020-06-08 08:18] pastahito commented on #159
Moving to 2.9.2

[2020-06-10 10:33] fantandrea opened #167 "[admin] Missing datasource maintenance section"
In the admin page of the documentation is not properly described the impact of a datasource key, something is quickly described when mentioning the `manualSourceKey` https://doc.linkurio.us/admin-manual/latest/alternative-ids/.

Moreover is not documented how to properly handle and maintain them `merge` / `delete`. It happen that sys admins try to merge data manually working on the database rather

[2020-06-16 08:15] andre91a opened #169 "Wrong Neo4j 4 support information"
In the Neo4j configuration page is still declared that there is no support for Neo4j 4 (https://doc.linkurio.us/admin-manual/2.9.1/configure-neo4j/)

Since there is a "minimum" support for version 4, In my opinion, it could be helpful to enlist in the page all the actually supported features.

<img width="975" alt="Schermata 2020-06-16 alle 10 14 04" src="https://user-images.githubusercontent.com/

[2020-06-16 10:47] davidrapin commented on #169
Thank you!
@andre91a I proposed a fix for this

[2020-06-17 09:08] mzorkany opened #171 "Remove broken links in Neo4j to Elasticsearch documentation page"
-In the Neo4j to Elasticsearch [documentation](https://doc.linkurio.us/admin-manual/latest/search-neo4j-to-elasticsearch/) page the links for the
`neo4j-to-elasticsearch` and `graphaware-server` resources are not working anymore and need to be removed

[2020-06-17 14:15] francescoinfante commented on #171
@mzorkany for me you can remove the whole paragraph.
just leaving how to download neo4j in this page it would be out of context :)

[2020-06-25 08:22] andre91a opened #174 "Add instructions for license.key in Docker"
Many docker users are dealing with the "expired license" message and in our docuementation there are no informations on how to manage the license

It's necessary to add these informations:
- how to retrieve the _license.key_
- how to import it in Linkurious Enterprise

[2020-06-25 08:26] andre91a commented on #174
@davidrapin you proposed to add these informations here: https://doc.linkurio.us/admin-manual/2.9.1/install/ and it's ok for me. The only doubt is that, at this point of the documentation, the user still need to create the volumes for lke and the destination folder.

WDYT?

[2020-06-25 08:29] andre91a opened #175 "Auto-assigned color by property value"
In Linkurious Enterprise is possible the automatically assign a color based on the value of a property.

This feature is not mentioned in the documentation

To do:
- add instructions here:  https://doc.linkurio.us/admin-manual/latest/styles/#colors

[2020-06-25 12:03] davidrapin commented on #174
@andre91a Oh very good point, so what you are saying is that the details about the license should rather be in https://doc.linkurio.us/admin-manual/2.9.1/start/#docker-linux? That makes sense.

[2020-06-25 12:28] andre91a commented on #174
@davidrapin Yes, a possible approach is to add the informations right after the creation of the volumes:
1. create the data folder with the same name of the volume
2. put license.key here

Another approach would be to add the informations after _run_ command. In this case they don't need to manually create the folder bu, on the other hand, they need to restart lke.

However I think the first appro

[2020-06-25 16:24] davidrapin commented on #174
@andre91a I agree that the first approach seems simpler

[2020-06-29 13:11] #175 closed

[2020-06-29 13:11] #174 closed

[2020-06-29 13:11] #169 closed

[2020-07-01 11:30] andre91a opened #178 "Built-in queries documentation"
**Request from Pole Emploi (via @LisaLermuzeaux ):**

Could you provide a kind of documentation to use our built-in queries :
- Find shortest path
- Expand non leaf nodes

The questions are :
1) What does the request do ?
2) What results it returns ?
3) In which case I can use it (some examples of use) ?
4) What is the meaning of the parameters I can change  (for example : Maximum path length, Max

[2020-07-01 11:30] andre91a commented on #178
@davidrapin Do you believe it could make sense?

[2020-07-01 15:05] andre91a opened #179 "Bolt connector must be enabled in Neo4j v4"
In Linkurious Enterprise 2.9.1, you receive a 404 error when you try to connect to a Neo4j v4 server with the Bolt connector disabled.

In the documentation, this requirement (Bolt connector enabled) is not specified.

@pastahito